
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div class="error">
    @Html.ValidationSummary()
</div>

<form action="@Url.Action("logon","home")" method="post">
    <table>
        <tr>
            <td>
                <input id="Text1" type="text" name="Name" />
            </td>
        </tr>
        <tr>
            <td>
                <input id="Password1" type="password" name="Password"/>
            </td>
        </tr>
        <tr>
            <td>
                <input id="Submit1" type="submit" value="submit" />
            </td>
        </tr>

    </table>
</form>